prometheus/data/
secrets/
grafana/grafana.db
grafana/png
grafana/plugins
buildbot-db/
433.sh
actual-data/
analysis/
certs/
database.bak
dispatcharr_data/
emqx/
everybodydj/
everybodydj_data/
fep/
foxessprom/
house_manager/
immich_model_cache/
immich_power_tools/
mariadb/
mythtv/
pgadmin/
rtl_433_docker/
rtldocker/
smartdisplay-backend/
sonos-lastfm/
teslamate/
unifi-os-server/
unifi/
unpoller/
