global:
  scrape_interval:     60s
  evaluation_interval: 60s

alerting:
  alertmanagers:
    - static_configs:  
      - targets:
        - alertmanager:9093

rule_files:
  - /etc/prometheus/rules.yml

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'bigdata'
    static_configs:
      - targets: ['192.168.1.207:9100']

  - job_name: 'tv'
    static_configs:
      - targets: ['192.168.1.12:9100']

  - job_name: 'tvpi'
    static_configs:
      - targets: ['192.168.1.20:9100']

  - job_name: 'server'
    scrape_timeout: 45s
    static_configs:
      - targets: ['10.8.0.1:9100']
  - job_name: 'server_http'
    scrape_timeout: 45s
    static_configs:
      - targets: ['10.8.0.1:9101']

  - job_name: 'glowprom'
    scrape_interval: 30s
    scrape_timeout: 20s
    fallback_scrape_protocol: PrometheusText1.0.0
    static_configs:
      - targets: ['glowprom:9100']

  - job_name: 'foxessprom'
    scrape_interval: 60s
    scrape_timeout: 45s
    fallback_scrape_protocol: PrometheusText1.0.0
    static_configs:
      - targets: ['foxessprom:9100']

  - job_name: 'house_manager'
    scrape_interval: 30s
    scrape_timeout: 20s
    fallback_scrape_protocol: PrometheusText1.0.0
    static_configs:
      - targets: ['house_manager:6060']

  - job_name: 'unpoller'
    scrape_interval: 30s
    scrape_timeout: 20s
    static_configs:
      - targets: ['unpoller:9130']

  - job_name: 'mktxp'
    scrape_interval: 30s
    scrape_timeout: 20s
    static_configs:
      - targets: ['mktxp:49090']

  - job_name: 'satip2'
    scrape_interval: 30s
    scrape_timeout: 20s
    fallback_scrape_protocol: PrometheusText1.0.0
    static_configs:
      - targets: ['192.168.1.18:9100']
      - targets: ['192.168.1.18:9101']

#  - job_name: 'folder_size'
#    scrape_interval: 60s
#    static_configs:
#      - targets: ['folder_size:9974']

  - job_name: 'prom433'
    scrape_interval: 30s
    fallback_scrape_protocol: PrometheusText1.0.0
    static_configs:
      - targets: ['prom433:9100']
    metric_relabel_configs:
      - source_labels: [model,channel]
        separator: ":"
        regex: "Eurochron-EFTH800:1"
        action: replace
        replacement: mainbedroom
        target_label: room
      - source_labels: [model,channel]
        separator: ":"
        regex: "Eurochron-EFTH800:2"
        action: replace
        replacement: alexbedroom
        target_label: room
      - source_labels: [model,channel]
        separator: ":"
        regex: "Eurochron-EFTH800:3"
        action: replace
        replacement: harrietbedroom
        target_label: room
      - source_labels: [model,channel]
        separator: ":"
        regex: "Eurochron-EFTH800:4"
        action: replace
        replacement: lounge
        target_label: room
      - source_labels: [model,channel]
        separator: ":"
        regex: "Eurochron-EFTH800:5"
        action: replace
        replacement: kitchen
        target_label: room
      - source_labels: [model,channel]
        separator: ":"
        regex: "Eurochron-EFTH800:6"
        action: replace
        replacement: office
        target_label: room

  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [http_2xx]  # Look for a HTTP 200 response.
    static_configs:
      - targets:
        - http://theandrewwilkinson.com
#        - http://welwynweather.co.uk
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115  # The blackbox exporter's real hostname:port.

  - job_name: 'query_exporter'
    scrape_interval: 60s
    scrape_timeout: 20s
    static_configs:
      - targets: ['query_exporter:9560']

  - job_name: 'watermeter'
    scrape_interval: 30s
    scrape_timeout: 20s
    static_configs:
      - targets: ['192.168.1.59:80']

  - job_name: 'shelly-plug-exporter'
    static_configs:
      - targets: ['shelly:8089']

  - job_name: 'shelly-plug-discovery'
    scrape_interval: 30s
    scrape_timeout: 29s
    static_configs:
      - targets: ['shelly:8089']
    metrics_path: /probe

  - job_name: 'everybodydj'
    scrape_interval: 30s
    scrape_timeout: 29s
    static_configs:
      - targets: ['everybodydj:8000']
    metrics_path: /metrics
